includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
	# Bleeding edge offers a preview of the next major version.
	# When you enable Bleeding edge in your configuration file, you will get new rules,
	# behaviour, and bug fixes that will be enabled for everyone later
	# when the next PHPStan’s major version is released.
	- phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
	bootstrapFiles:
		# Constants, functions, etc. used by the Event Bridge For ActivityPub
		- phpstan.stubs

	universalObjectCratesClasses:
		- Activitypub\Activity\Actor;

	ignoreErrors:
		-
			message: '#Instantiated class Enable_Mastodon_Apps\\Entity\\\S+ not found\.#'
			identifier: class.notFound
		-
			message: '#Instantiated class Activitypub\\Integration\\Stream_Connector not found\.#'
			identifier: class.notFound
		-
			identifier: new.static
		-
			identifier: requireOnce.fileNotFound
		-
			identifier: function.notFound
			path: integration/class-buddypress.php
		-
			identifier: unset.offset
			path: integration/class-buddypress.php
		-
			identifier: variable.undefined
			path: includes/class-signature.php
		-
			identifier: isset.variable
			path: includes/class-signature.php
		-
			identifier: method.notFound
			path: includes/transformer/class-base.php
		-
			identifier: method.notFound
			path: includes/activity/class-generic-object.php

	parallel:
		maximumNumberOfProcesses: 1
		processTimeout: 300.0

	# the analysis level, from 0 (loose) to 9 (strict)
	# https://phpstan.org/user-guide/rule-levels
	level: 1

	paths:
		- includes/
		- integration/
		- templates/

	excludePaths:
		- includes/class-cli.php
		- integration/class-stream-connector.php
